.gradle
/build/
bin
!gradle/wrapper/gradle-wrapper.jar
src/main/resources/static
training-data/*
*.hprof
ar4k-agent-druido.tar.gz
ar4k-agent-druido.tar
doc-site.tgz
gradle.properties

### OUTPUT ###
spring-shell.log
Ar4kAgent
ar4kAgent
*.ar4k
camel-test
.attach_pid*
*.keystore
ar4k-agent.log
logs/*
npm-debug.log
package-lock.json
node_modules
maven
.attach_pid*
gradle-cache

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Ignore Gradle build output directory
build
