<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments/header :: header (title='Beans & Services')"></th:block>
</head>
<body class="">
	<div class="wrapper">
		<div th:replace="fragments/sidebar :: sidebar(${roles})"></div>
		<div class="main-panel">
			<nav th:replace="fragments/header :: navigator(${user},${roles})""></nav>
			<div class="content">
				<div class="container-fluid">
					<div class="row"></div>
				</div>
			</div>
			<footer th:replace="fragments/footer :: footer"></footer>
		</div>
	</div>
</body>
<th:block th:replace="fragments/footer :: script"></th:block>
</html>
