<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments/header :: header (title='Console')"></th:block>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.18.0/css/jquery.terminal.min.css"
	rel="stylesheet" />
</head>
<body class="">
	<div class="wrapper">
		<div th:replace="fragments/sidebar :: sidebar(${logo},${roles})"></div>
		<div class="main-panel">
			<nav th:replace="fragments/header :: navigator(${user},${roles})"></nav>
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="container-fluid">
							<div class="row">
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="card card-stats">
										<div class="card-header card-header-primary card-header-icon">
											<div class="card-icon">
												<i class="material-icons">developer_board</i>
											</div>
											<h5 class="card-title text-danger" id="ar4k_runlevel">NaN</h5>
											<p class="card-category">Configuration</p>
											<h6 class="card-title" id="ar4k_config_label">
												<small>loading...</small>
											</h6>
											<p class="card-category">Services</p>
											<h4 class="card-title" id="ar4k_services_count">
												<small>loading...</small>
											</h4>
											<p class="card-category">Beans</p>
											<h4 class="card-title" id="ar4k_beans_count">
												<small>loading...</small>
											</h4>
											<p class="card-category">Threads</p>
											<h4 class="card-title" id="ar4k_threads_count">
												<small>loading...</small>
											</h4>
										</div>
										<div class="card-footer">
											<div class="container-fluid">
												<a href="/ar4k/status"
													class="btn btn-outline-info btn-sm pull-right"
													target="_json">JSON STATUS</a> <a href="/control/beans"
													class="btn btn-outline-primary btn-sm pull-right"
													target="_json">JSON BEANS</a><a href="/control/conditions"
													class="btn btn-outline-info btn-sm pull-right"
													target="_json">JSON SPRING CONDITION</a> <a
													href="/control/configprops"
													class="btn btn-outline-primary btn-sm pull-right"
													target="_json">JSON SPRING CONFIG PROPS</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="card card-stats">
										<div class="card-header card-header-danger card-header-icon">
											<div class="card-icon">
												<i class="material-icons">memory</i>
											</div>
											<h5 class="card-title text-danger" id="hw_status">NaN</h5>
											<p class="card-category">Ram Memory Usage</p>
											<h4 class="card-title" id="hw_ram">
												<small>loading...</small>
											</h4>
											<p class="card-category">Disks Usage</p>
											<h4 class="card-title" id="hw_disk">
												<small>loading...</small>
											</h4>
											<p class="card-category">CPU Usage</p>
											<h4 class="card-title" id="hw_cpu">
												<small>loading...</small>
											</h4>
										</div>
										<div class="card-footer">
											<div class="container-fluid">
												<a href="/control/health"
													class="btn btn-outline-primary btn-sm pull-right"
													target="_json">JSON HEALTH</a><a href="/control/threaddump"
													class="btn btn-outline-info btn-sm pull-right"
													target="_json">JSON THREADS</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="card card-stats">
										<div class="card-header card-header-success card-header-icon">
											<div class="card-icon">
												<i class="material-icons">unarchive</i>
											</div>
											<p class="card-category">Build</p>
											<h5 class="card-title" id="ar4k_build">
												<small>loading...</small>
											</h5>
											<p class="card-category">Builder</p>
											<h6 class="card-title" id="ar4k_builder">
												<small>loading...</small>
											</h6>
											<p class="card-category">Commit</p>
											<h5 class="card-title" id="ar4k_commit">
												<small>loading...</small>
											</h5>
											<p class="card-category">Author</p>
											<h6 class="card-title" id="ar4k_author">
												<small>loading...</small>
											</h6>
										</div>
										<div class="card-footer">
											<div class="container-fluid">
												<a href="/control/info"
													class="btn btn-outline-info btn-sm pull-right"
													target="_json">JSON BUILD INFO</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="card card-stats">
										<div class="card-header card-header-info card-header-icon">
											<div class="card-icon">
												<i class="material-icons">device_hub</i>
											</div>
											<p class="card-category">Hostname</p>
											<h4 class="card-title" id="ar4k_net_hostname">
												<small>loading...</small>
											</h4>
											<p class="card-category">IPV4 Address</p>
											<h4 class="card-title" id="ar4k_net_ip">
												<small>loading...</small>
											</h4>
											<p class="card-category">IPV4 Gateway</p>
											<h4 class="card-title" id="ar4k_net_gw">
												<small>loading...</small>
											</h4>
											<p class="card-category">DNS</p>
											<h4 class="card-title" id="ar4k_net_dns">
												<small>loading...</small>
											</h4>
											<p class="card-category">Domain</p>
											<h4 class="card-title" id="ar4k_net_domain">
												<small>loading...</small>
											</h4>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									<div class="card">
										<div class="card-header card-header-tabs card-header-warning">
											<div class="nav-tabs-navigation">
												<div class="nav-tabs-wrapper">
													<ul class="nav nav-tabs" data-tabs="tabs">
														<li class="nav-item"><a class="nav-link active"
															href="#env" data-toggle="tab"> <i
																class="material-icons">label_outline</i> Environment
														</a>
															<div class="ripple-container"></div></li>
														<li class="nav-item"><a class="nav-link"
															href="#config" data-toggle="tab"> <i
																class="material-icons">tune</i> Configurations
														</a>
															<div class="ripple-container"></div></li>
														<li class="nav-item"><a class="nav-link"
															href="#mappings" data-toggle="tab"> <i
																class="material-icons">call_split</i> Web Mappings
														</a>
															<div class="ripple-container"></div></li>
														<li class="nav-item"><a class="nav-link"
															href="#loggers" data-toggle="tab"> <i
																class="material-icons">hearing</i> Loggers
														</a>
															<div class="ripple-container"></div></li>
														<li class="nav-item"><a class="nav-link"
															href="#metrics" data-toggle="tab"> <i
																class="material-icons">av_timer</i> Metrics
														</a>
															<div class="ripple-container"></div></li>
														<li class="nav-item"><a class="nav-link"
															href="#keystore" data-toggle="tab"> <i
																class="material-icons">vpn_key</i> Keystore
														</a>
															<div class="ripple-container"></div></li>
														<li class="nav-item"><a class="nav-link"
															href="#blockchain" data-toggle="tab"> <i
																class="material-icons">monetization_on</i> Blockchain
														</a>
															<div class="ripple-container"></div></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="card-body">
											<div class="tab-content">
												<div class="tab-pane active" id="env">
													<div class="container-fluid">
														<a href="/control/env"
															class="btn btn-outline-info btn-sm pull-right"
															target="_json">JSON ENV</a>
													</div>
													<div class="table-responsive">
														<table class="table">
															<thead class=" text-primary">
																<tr>
																	<th>Key</th>
																	<th>Value</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="property : ${properties}">
																	<td><i
																		th:if="${property.getKey().startsWith('ar4k.')}==true"
																		class="material-icons">fingerprint</i> <i
																		th:if="${property.getKey().startsWith('spring.')}==true"
																		class="material-icons">extension</i> <i
																		th:if="${property.getKey().startsWith('sun.')}==true"
																		class="material-icons">stars</i> <i
																		th:if="${property.getKey().startsWith('java.')}==true"
																		class="material-icons">info</i> <i
																		th:if="${property.getKey().startsWith('user.')}==true"
																		class="material-icons">face</i>
																		<p th:text="${property.getKey()}"></p></td>
																	<td th:text="${property.getValue()}"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
												<div class="tab-pane" id="mappings">
													<div class="container-fluid">
														<a href="/control/mappings"
															class="btn btn-outline-info btn-sm pull-right"
															target="_json">JSON MAPPINGS</a>
													</div>
													<div class="table-responsive">
														<table class="table">
															<thead class=" text-primary">
																<tr>
																	<th>Patterns</th>
																	<th>Methods</th>
																	<th>Params</th>
																	<th>Headers</th>
																	<th>Consumes</th>
																	<th>Produces</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="map : ${mappings}">
																	<td th:text="${map.getPatternsCondition()}"></td>
																	<td th:text="${map.getMethodsCondition()}"></td>
																	<td th:text="${map.getParamsCondition()}"></td>
																	<td th:text="${map.getHeadersCondition()}"></td>
																	<td th:text="${map.getConsumesCondition()}"></td>
																	<td th:text="${map.getProducesCondition()}"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
												<div class="tab-pane" id="keystore">
													<div class="table-responsive">
														<table class="table">
															<thead class=" text-primary">
																<tr>
																	<th>Label</th>
																	<th>File</th>
																	<th>Certificates</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="key : ${keys}">
																	<td th:text="${key.label}"></td>
																	<td th:text="${key.filePath()}"></td>
																	<td th:text="${key.listCertificate()}"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
												<div class="tab-pane" id="loggers">
													<div class="container-fluid">
														<a href="/control/loggers"
															class="btn btn-outline-info btn-sm pull-right"
															target="_json">JSON LOGGER LEVEL</a> <a
															href="getloggerfile"
															class="btn btn-outline-primary btn-sm pull-right"
															target="_txt">TXT LOGFILE</a>
													</div>
													<div class="table-responsive">
														<table class="table">
															<thead class=" text-primary">
																<tr>
																	<th>Label</th>
																	<th>Configured Level</th>
																	<th>Effective Level</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="log : ${loggers}">
																	<td th:text="${log.getKey()}"></td>
																	<td th:text="${log.getValue().getConfiguredLevel()}"></td>
																	<td th:text="${log.getValue().getEffectiveLevel()}"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
												<div class="tab-pane" id="metrics">
													<div class="container-fluid">
														<a href="/control/metrics"
															class="btn btn-outline-info btn-sm pull-right"
															target="_json">JSON METRICS</a>
													</div>
													<div class="table-responsive">
														<table class="table">
															<thead class=" text-primary">
																<tr>
																	<th>Name</th>
																	<th>Measure</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="meter : ${meters}">
																	<td th:text="${meter.getId().toString()}"></td>
																	<td th:text="${meter.measure()}"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
												<div class="tab-pane" id="config">
													<div class="table-responsive">
														<table class="table">
															<thead class=" text-primary">
																<tr>
																	<th>Prompt</th>
																	<th>Name</th>
																	<th>Author</th>
																	<th>Description</th>
																	<th>Project</th>
																	<th>Data Center</th>
																	<th>License</th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="config : ${configs}">
																	<td th:text="${config.prompt}"></td>
																	<td th:text="${config.name}"></td>
																	<td th:text="${config.author}"></td>
																	<td th:text="${config.description}"></td>
																	<td th:text="${config.project}"></td>
																	<td th:text="${config.dataCenter}"></td>
																	<td th:text="${config.license}"></td>
																	<td><a
																		th:href="@{'/conf/json/'+${config.uniqueId}}"
																		class="btn btn-outline-info btn-sm pull-right"
																		target="_json">JSON</a><a
																		th:href="@{'/conf/base64/'+${config.uniqueId}}"
																		class="btn btn-outline-primary btn-sm pull-right"
																		target="_base64">BASE64</a></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
												<div class="tab-pane" id="blockchain">
													<div class="container-fluid">
														<a href="/ar4k/blockchain"
															class="btn btn-outline-info btn-sm pull-right"
															target="_json">JSON BLOCKCHAIN</a>
													</div>
													<div class="table-responsive">
														<table class="table">
															<thead class=" text-primary">

															</thead>
															<tbody>

															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="fragments/footer :: footer"></footer>
		</div>
	</div>
</body>
<th:block th:replace="fragments/footer :: script"></th:block>
<script>
	setInterval(function() {
		$.ajax({
			url : "/control/health",
			dataType : "json",
			success : function(data) {
				$("#hw_ram").html(Math.round((data.details.ar4k.details['hardware-runtime-total-memory']-data.details.ar4k.details['hardware-runtime-free-memory'])/(1024*1024))+" / "+Math.round(data.details.ar4k.details['hardware-runtime-total-memory']/(1024*1024))+"<small> MB</small>");
				$("#hw_status").html(data.status);
				$("#hw_disk").html(parseFloat((data.details.diskSpace.details['total']-data.details.diskSpace.details['free'])/(1024*1024*1024)).toFixed(2)+" / "+parseFloat(data.details.diskSpace.details['total']/(1024*1024*1024)).toFixed(2)+"<small> GB</small>");
				$("#hw_cpu").html(parseFloat(100*data.details.ar4k.details['system-load-average']/(data.details.ar4k.details['pi-Processor'])).toFixed(1)+"<small> %</small><br/><small>"+data.details.ar4k.details['pi-CPU-Model-Name']+"</small>");
				$("#ar4k_net_hostname").html(data.details.ar4k.details['operating-system'].networkParams['hostName']);
				$("#ar4k_net_ip").html(data.details.ar4k.details['pi-IP-Addresses-0']+"  "+(data.details.ar4k.details['pi-IP-Addresses-1']||'')+"  "+(data.details.ar4k.details['pi-IP-Addresses-2']||'')+"  "+(data.details.ar4k.details['pi-IP-Addresses-3']||''));
				$("#ar4k_net_dns").html(data.details.ar4k.details['operating-system'].networkParams['dnsServers'].join(" "));
				$("#ar4k_net_domain").html("<small>"+data.details.ar4k.details['operating-system'].networkParams['domainName']+"</small>");
				$("#ar4k_net_gw").html(data.details.ar4k.details['operating-system'].networkParams['ipv4DefaultGateway']);
			}
		});
		$.ajax({
			url : "/ar4k/status",
			dataType : "json",
			success : function(data) {
				$("#ar4k_config_label").html(data['run-config'].name+"<br/><small>"+data['run-config'].description+"</small>");
				$("#ar4k_runlevel").html(data['run-level']);
				$("#ar4k_services_count").html(data['run-services'].length);
			}
		});
		$.ajax({
			url : "/control/beans",
			dataType : "json",
			success : function(data) {
				$("#ar4k_beans_count").html(Object.keys(data.contexts.application.beans).length);
			}
		});
		$.ajax({
			url : "/control/threaddump",
			dataType : "json",
			success : function(data) {
				$("#ar4k_threads_count").html(data.threads.length);
			}
		});
		$.ajax({
			url : "/control/info",
			dataType : "json",
			success : function(data) {
				if (typeof data.git !== "undefined"){
				$("#ar4k_build").html(data.app.name+" "+(data.git.build.version||'dev')+" ("+(data.git.build.time||'no git info')+")<br/><small>"+data.app.description+"</small");
				$("#ar4k_builder").html((data.git.build.host||'')+"<br/><small>"+(data.git.build.user.name||'')+"<br/>("+(data.git.build.user.email||'')+")</small>");
				$("#ar4k_commit").html("<small>"+(data.git.commit.time||'now')+"<br/>"+(data.git.commit.message['short']||'')+"</small><br/>"+(data.git.commit.id['abbrev']||''));
				$("#ar4k_author").html((data.git.commit.user.name||'you'));
				}
			}
		});
	}, 5000);
</script>
</html>
