<div>
  <div class="md-layout-item md-size-100"
    style="margin: 4px; text-align: right;">
    <a href="/control/metrics" style="padding: 4px;"
      class="md-button md-dense md-raised md-info" target="_json">JSON
      METRICS</a>
  </div>
  <md-table @md-selected="onSelect"> <md-table-row>
  <md-table-head>Name</md-table-head> <md-table-head>Measure</md-table-head></md-table-row>
  <md-table-row th:each="meter : ${meters}"> <md-table-cell
    th:text="${meter.getId().toString()}"></md-table-cell> <md-table-cell
    th:text="${meter.measure()}"></md-table-cell> </md-table-row></md-table>
</div>