<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body class="">
	<div class="wrapper">
		<div class="sidebar" data-color="purple" data-background-color="white"
			data-image="/static/img/sidebar.jpg"
			th:fragment="sidebar(logo,roles)">
			<div class="logo text-center">
				<a href="http://info.ar4k.net/ar4k-agent-doc/"
					class="bg-transparent" target="_docs"><img th:src="${logo}"
					class="img-fluid bg-transparent" style="width: 80%;" /> </a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item "
						th:if="${#strings.contains(roles, 'ROLE_ADMIN')}"
						th:classappend="${selectedMenu == 'dashboard' ? 'active':''}"><a
						class="nav-link" href="/ar4k/dashboard"> <i
							class="material-icons">dashboard</i> Micro Service Dashboard
					</a></li>
					<!--
					<li class="nav-item " th:if="${#strings.contains(roles, 'ROLE_ADMIN')}"
						th:classappend="${selectedMenu == 'beans' ? 'active':''}"><a
						class="nav-link" href="/beans"> <i class="material-icons">grain</i>
							Beans and Services
					</a></li>
					-->
					<li class="nav-item "
						th:if="${#strings.contains(roles, 'ROLE_ADMIN')}"
						th:classappend="${selectedMenu == 'terminal' ? 'active':''}"><a
						class="nav-link" href="/ar4k/terminal"> <i
							class="material-icons">input</i> Terminals
					</a></li>
					<li class="nav-item "
						th:if="${#strings.contains(roles, 'ROLE_GUEST')}"
						th:classappend="${selectedMenu == 'swagger' ? 'active':''}"><a
						class="nav-link" href="/ar4k/swagger"> <i
							class="material-icons">swap_vertical</i> Swagger
					</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
