<div>
  <div class="md-layout-item md-size-100"
    style="margin: 4px; text-align: right;">
    <a href="/control/env" style="padding: 4px;"
      class="md-button md-dense md-raised md-success" target="_json">JSON
      ENVIROMENT</a>
  </div>
  <md-table @md-selected="onSelect"> <md-table-row>
  <md-table-head>Key</md-table-head> <md-table-head>Value</md-table-head></md-table-row>
  <md-table-row th:each="property : ${properties}"> <md-table-cell>
  <i th:if="${property.getKey().startsWith('ar4k.')}==true"
    class="material-icons">fingerprint</i> <i
    th:if="${property.getKey().startsWith('spring.')}==true"
    class="material-icons">extension</i> <i
    th:if="${property.getKey().startsWith('sun.')}==true"
    class="material-icons">stars</i> <i
    th:if="${property.getKey().startsWith('java.')}==true"
    class="material-icons">info</i> <i
    th:if="${property.getKey().startsWith('user.')}==true"
    class="material-icons">face</i>
  <p th:text="${property.getKey()}"></p>
  </md-table-cell> <md-table-cell th:text="${property.getValue()}"></md-table-cell> </md-table-row></md-table>
</div>