<div>
  <div class="md-layout-item md-size-100"
    style="margin: 4px; text-align: right;">
    <a href="/control/loggers" style="padding: 4px;"
      class="md-button md-dense md-raised md-info" target="_json">JSON
      LOGGER LEVEL</a> <a href="/ar4k/getloggerfile" style="padding: 4px;"
      class="md-button md-dense md-raised md-primary" target="_txt">TXT
      LOGFILE</a>
  </div>
  <md-table @md-selected="onSelect"> <md-table-row>
  <md-table-head>Label</md-table-head> <md-table-head>Configured
  Level</md-table-head> <md-table-head>Effective Level</md-table-head></md-table-row> <md-table-row
    th:each="log : ${loggers}"> <md-table-cell
    th:text="${log.getKey()}"></md-table-cell> <md-table-cell
    th:text="${log.getValue().getConfiguredLevel()}"></md-table-cell> <md-table-cell
    th:text="${log.getValue().getEffectiveLevel()}"></md-table-cell> </md-table-row></md-table>
</div>