<div>
  <div class="md-layout-item md-size-100"
    style="margin: 4px; text-align: right;">
    <a href="/control/mappings" style="padding: 4px;"
      class="md-button md-dense md-raised md-info" target="_json">JSON
      MAPPINGS</a>
  </div>
  <md-table @md-selected="onSelect"> <md-table-row>
  <md-table-head>Patterns</md-table-head> <md-table-head>Methods</md-table-head>
  <md-table-head>Params</md-table-head> <md-table-head>Headers</md-table-head>
  <md-table-head>Consumes</md-table-head> <md-table-head>Produces</md-table-head></md-table-row>
  <md-table-row th:each="map : ${mappings}"> <md-table-cell
    th:text="${map.getPatternsCondition()}"></md-table-cell> <md-table-cell
    th:text="${map.getMethodsCondition()}"></md-table-cell> <md-table-cell
    th:text="${map.getParamsCondition()}"></md-table-cell> <md-table-cell
    th:text="${map.getHeadersCondition()}"></md-table-cell> <md-table-cell
    th:text="${map.getConsumesCondition()}"></md-table-cell> <md-table-cell
    th:text="${map.getProducesCondition()}"></md-table-cell> </md-table-row></md-table>
</div>