{
  "presets": [
    "@vue/app",
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        }
      }
    ],
    ["@babel/plugin-syntax-dynamic-import"]
  ]
}
