.gradle
/build/
bin
!gradle/wrapper/gradle-wrapper.jar
src/main/resources/static
src/main/resources/models/en-cat-taxi-intents.bin
src/main/resources/models/en-ner-address.bin
src/main/resources/models/en-ner-dates.bin
src/main/resources/models/en-ner-locations.bin
src/main/resources/models/en-ner-persons.bin

test-model.bin


src/main/resources/models/*

### OUTPUT ###
spring-shell.log
Ar4kAgent
*.ar4k
camel-test
.attach_pid*
*.keystore
ar4k-agent.log
logs/*
npm-debug.log
package-lock.json
node_modules
maven
.attach_pid*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
