<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <footer class="footer" th:fragment="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul>
          <li><a href="http://info.ar4k.net" target="_blank">AR4K</a></li>
        </ul>
      </nav>
      <div class="copyright pull-right">
        &copy; 2019, made by <a href="https://www.rossonet.net"
          target="_blank">Rossonet</a>
      </div>
    </div>
  </footer>
</body>
<th:block th:fragment="script">
  <script type=text/javascript src=/static/js/chunk-vendors.40a78358.js>
  <script src="/webjars/jquery/dist/jquery.min.js"></script>
  <script src="/webjars/popper.js/dist/popper.min.js"></script>
  <script
    src="/webjars/bootstrap-material-design/js/bootstrapMaterialDesign.js"></script>
  <script src="/webjars/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
  <script src="/webjars/chartist/dist/chartist.min.js"></script>
  <script src="/webjars/arrive/minified/arrive.min.js"
    type="text/javascript"></script>
  <script src="/webjars/vue/dist/vue.js"></script>
  <script src="/static/material-dashboard.js"></script>
  <script src="/webjars/bootstrap-notify/bootstrap-notify.js"></script>
  <script src="/webjars/jquery.terminal/jquery.terminal.min.js"></script>
  <script src="/static/js/plugins/demo.js"></script>
  <script type="text/javascript">
		$(document).ready(function() {
			//demo.initDashboardPageCharts();
			//demo.initCharts();
		});
	</script>
</th:block>
</html>
