.gradle
/build/
bin
!gradle/wrapper/gradle-wrapper.jar
src/main/resources/static
databases/*
orientdb/*
src/main/resources/models
tmp/
default.keystore.ks
*.ar4k.conf.crypto
*.ar4k.conf

### OUTPUT ###
spring-shell.log
Ar4kAgent
*.ar4k
camel-test
.attach_pid*
*.keystore
ar4k-agent.log
logs/*
npm-debug.log
package-lock.json
node_modules
maven
.attach_pid*
orientdb

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
