[Unit]
Description=Ar4k Web Agent 
After=rc-local.service
[Service]
Type=simple
User=root
ExecStart=java -jar /opt/rossonet/ar4k-agent-web.jar --spring.shell.interactive.enabled=false
PIDFile=/opt/rossonet/ar4k/ar4k-web.pid
RemainAfterExit=no
Restart=on-failure
RestartSec=5s
[Install]
WantedBy=multi-user.target
